DB_USER=user
DB_PASSWORD=password
DB_NAME=db_name
DB_HOST=localhost
DB_PORT=5432
DB_URL="postgresql://admin:password@localhost:5432/mydatabase"
LEMONADE_AI_URL=http://localhost:13305/v1
ai_api_key=api_key_abcd1234
